* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  max-width: 580px;
  margin: auto;
  margin-top: 15em;
  padding-left: clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
  padding-right: clamp(1rem, -0.25rem + 3.333vw, 2.75rem);
}


.form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-top: 10px solid rgb(6, 70, 6);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content {
  max-width: 350px;
  margin: auto;
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  width: 80%;
}

.description {
  display: grid;
  justify-content: center;
  justify-items: center;
  padding-bottom: 3rem;
  padding-top: 3rem;
  text-align: center;
}

.ant-text {
  color: rgb(6, 70, 6);
  font-size: clamp(16px, .5rem + 1vw, 18px);
}

.ant-txt{
  font-size: 16px;
  font-weight: 500;
  color: rgb(131, 130, 130);
}

.frgt-pass {
  color: rgb(6, 70, 6);
  display: flex;
  justify-content: flex-end;
  padding-bottom: .8rem;
}

.ant-btn {
  background-color: rgb(6, 70, 6);
  width: 100%;
  color: white;
}

.password {
  padding-bottom: .8rem;
}


.ant-btn:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(16, 80, 16);
}

.frgt-pass:hover {
  cursor: pointer;
}

.welcome-div {
  display: flex;
  justify-content: center;
  max-width: fit-content;
  margin: 15rem auto;
}

.ant-notification {
  color: red;
  display: flex;
  justify-content: space-between;
  top: 100px;
}

@media screen and (max-width: 768px) {
  .content {
    max-width: 350px;
    margin: 1rem;
  }
}